<div id="show-page">
  Hello <%= current_user.username %>!
  <%= link_to "Log out", "/signout", method: :delete %> <br />


  <div id="add-accounts">
    <h2>Add accounts</h2>
    <strong>Github: Connected</strong> <br />
    <!-- Allow employee to add stackoveflow account if not connected to profile -->
    <!-- TODO Refractor this by creating rails helper -->
    <% if current_employee.stack_overflow_account %>
      <strong>Stackoverflow: Connected</strong> <br />
    <% else %>
      <!-- Enter StackOverflow's ID to save info to database -->
      <%= form_tag "/stack_tags", method: 'POST' do %>
        <%= text_field_tag :stackoverflow_id, params[:stackoverflow_id] %>
        <%= submit_tag "Add StackOverflow" %>
      <% end %>
    <% end %>

      <!-- LinkedIn -->
      <%= form_tag "#", method: 'POST' do %>
        <%= text_field_tag :doesnt_work, params[:stackoverflow_id] %>
        <%= submit_tag "Add LinkedIn" %>
      <% end %>

    <% if current_employee.dribbble %>
      <strong>Dribbble: Connected</strong> <br />
    <% else %>
      <!-- Dribble -->
      <%= form_tag "/dribbbles", method: 'POST' do %>
        <%= text_field_tag :dribbble_username, params[:dribbble_username] %>
        <%= submit_tag "Add Dribbble" %>
      <% end %>
    <% end %>
  </div>

  <!-- Show all Github repositories -->
  <%= @employee.github_account.username %>'s Repositories
  <table>
    <thead>
      <th>Name</th>
      <th>Ruby</th>
      <th>JavaScript</th>
      <th>CoffeeScript</th>
      <th>CSS</th>
      <th>PHP</th>
      <th>Created_at</th>
      <th>Updated_at</th>
    </thead>

    <% @employee.github_account.github_repos.each do |repo| %>
      <tr>
        <td><%= repo.name %></td>
        <td><%= repo.Ruby %></td>
        <td><%= repo.JavaScript %></td>
        <td><%= repo.CoffeeScript %></td>
        <td><%= repo.CSS %></td>
        <td><%= repo.PHP %></td>
        <td><%= repo.created_at.to_formatted_s(:long) %></td>
        <td><%= repo.updated_at.to_formatted_s(:long) %></td>
      </tr>
    <% end %>
  </table>

  <!-- Show employee's stackoverflow data if they have an account connected -->
  <% if current_employee.stack_overflow_account %>
  <h2>StackOverflow Data</h2>
    <h2>ID: <%= current_employee.stack_overflow_account.id %> | Rep: <%=current_employee.stack_overflow_account.reputation %> | Badges: <%= current_employee.stack_overflow_account.badge_counts %></h2>
    <table>
      <thead>
        <th>Tag Name</th>
        <th>Answer Count</th>
        <th>Answer Score</th>
        <th>Question Count</th>
        <th>Question Score</th>
      </thead>

      <% current_employee.stack_overflow_account.stack_tags.each do |tag| %>
        <tr>
          <td><%= tag.top_tag_name %></td>
          <td><%= tag.answer_count %></td>
          <td><%= tag.answer_score %></td>
          <td><%= tag.question_count %></td>
          <td><%= tag.question_score %></td>
        </tr>
      <% end %>
    </table>
  <% end %>


  <!-- Show employee's Dribbble data if they have an account connected -->
  <% if current_employee.dribbble %>
  <h2>Dribbble Data</h2>
    <table>
      <thead>
        <th>Shots Count</th>
        <th>Likes Count</th>
        <th>Likes Received Count</th>
        <th>Rebounds Count</th>
        <th>Rebounds Received Count</th>
      </thead>

        <tr>
          <td><%= current_employee.dribbble.shots_count %></td>
          <td><%= current_employee.dribbble.likes_count %></td>
          <td><%= current_employee.dribbble.likes_received_count %></td>
          <td><%= current_employee.dribbble.rebounds_count %></td>
          <td><%= current_employee.dribbble.rebounds_received_count %></td>
        </tr>
    </table>
  <% end %>
</div>

<script>
  // Delete this crap later
  $('#doesnt_work').click(function() {
    alert("Does not work... GO AWAY!!!")
  })
</script>
