<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

<div id="show-page">

        <!-- PROFILE CARD -->
  <div class="profile-card">
    <div class="prof-pic"></div>
  <div class="badge-container">
  <%= current_employee.github_account.username %>
    <!-- <div class="prof-badges"></div>
    <div class="prof-badges"></div>
    <div class="prof-badges"></div>
    <div class="prof-badges"></div> -->
  </div>
  <div class="text-container">
    <div class="prof-text"></div>
    <div class="prof-text"></div>
    <div class="prof-text"></div>
    <div class="prof-text"></div>
  </div>
  <div class="panel-container">
    <div class="prof-panel">Github : connected</div>
    <div class="prof-panel">
  <!-- STACK OVER FLOW -->
    <% if current_employee.stack_overflow_account %>
        <strong>Stackoverflow: Connected</strong> <br />
      <% else %>
        <!-- Enter StackOverflow's ID to save info to database -->
        <%= form_tag "/stack_tags", method: 'POST' do %>
          <%= text_field_tag :stackoverflow_id, params[:stackoverflow_id] %>
          <%= submit_tag "Add StackOverflow" %>
        <% end %>
      <% end %>
      </div>
    <div class="prof-panel">
            <!-- LinkedIn -->
      <% if current_employee.linked_in %>
        LinkedIn: Connected <br>
      <% else %>
        <div id="linkedin"><%= link_to "Sign up with LinkedIn", "/auth/linkedin" %></div>
      <% end %>
    </div>
    <div class="prof-panel">
          <!-- Dribble -->
      <% if current_employee.dribbble %>
        <strong>Dribbble: Connected</strong> <br />
      <% else %>
        <%= form_tag "/dribbbles", method: 'POST' do %>
          <%= text_field_tag :dribbble_username, params[:dribbble_username] %>
          <%= submit_tag "Add Dribbble" %>
        <% end %>
      <% end %>
    </div>
    <div class="favbutton">Save</div>
    </div>
  </div>
</div>