Hello <%= current_user.username %>!
<%= link_to "Log out", "/signout", method: :delete %> <br />

<h2>Add accounts</h2>
<!-- Allow employee to add stackoveflow account if not connected to profile -->
<% if current_employee.stack_overflow_account %>
  Stackoverflow: Connected <br />
<% else %>
  <!-- Enter StackOverflow's ID to save info to database -->
  <%= form_tag "/stack_tags", method: 'POST' do %>
    <%= text_field_tag :stackoverflow_id, params[:stackoverflow_id] %>
    <%= submit_tag "Add StackOverflow" %>
  <% end %>
<% end %>

<%= @employee.github_account.username %>'s Repositories

  <table>
    <thead>
      <th>Name</th>
      <th>Ruby</th>
      <th>JavaScript</th>
      <th>CoffeeScript</th>
      <th>CSS</th>
      <th>PHP</th>
      <th>Created_at</th>
      <th>Updated_at</th>
    </thead>

    <% @employee.github_account.github_repos.each do |repo| %>
      <tr>
        <td><%= repo.name %></td>
        <td><%= repo.Ruby %></td>
        <td><%= repo.JavaScript %></td>
        <td><%= repo.CoffeeScript %></td>
        <td><%= repo.CSS %></td>
        <td><%= repo.PHP %></td>
        <td><%= repo.created_at.to_formatted_s(:long) %></td>
        <td><%= repo.updated_at.to_formatted_s(:long) %></td>
      </tr>
    <% end %>
  </table>
