<div id="taskr-intro-first">
  <div class="jumbotron">
    <div class="signup-form-slide">
      <h1>J<span class="j0bd_title">0</span>bd.</h1>
      <p>The number one to-do list app in the world. <br />Try it for free below:</p>
      <p><%= link_to "Sign Up", '#signup', :class => "btn btn-primary btn-lg", :id => 'signup-slide-btn' %></p>
    </div>

    <!-- Sign in with Github -->
    <% if current_user %>
      Hello <%= current_user.username %>!
      <%= link_to "Log out", "/signout", method: :delete %>
    <% else %>
      <div id="github">Employee: <%= link_to "Sign up with Github", "/auth/github" %></div>
    <% end %>

    <!-- Sign in with LinkedIn -->
    <% if current_employer %>
      Hello <%= current_employer.name %> <br />
      <%= link_to "Log out", "/employers", method: :delete %>
    <% else %>
    <div id="linkedin">Employer: <%= link_to "Sign up with LinkedIn", "/auth/linkedin" %></div>
    <% end %>

    <div class="empty-slide-div"></div>
  </div>
</div>

<div id="taskr-intro-second" name="anchorName2">
  <div class="jumbotron">
    <div class="signup-form">
      <h1>Coders | Startups</h1>
      <p>Coders - Where do you fit?</p>
      <p>Startups - Who fits with You? </p>
    </div>
  </div>
</div>

<div id="taskr-intro-third">
  <div class="jumbotron">
    <div class="signup-form">
      <h1>Fit the bits.</h1>
      <p>Match need sets with skill sets.</p>
    </div>
  </div>
</div>

<div id="taskr-intro-fourth">
  <div class="jumbotron">
    <div class="signup-form">
      <h1>Automated Profile Creation</h1>
      <p>Find the people you need at a glance.</p>
    </div>
  </div>
</div>

<div id="taskr-intro-last">
  <div class="jumbotron">
    <div class="signup-form">
      <h1>Get Started</h1>
      <p><%= link_to "Coder Sign Up", 'employees/new', :class => "btn btn-primary btn-lg", :id => 'signup-bottom-btn' %></p>
      <p><%= link_to "Startup Sign Up", 'employers/new', :class => "btn btn-primary btn-lg", :id => 'signup-bottom-btn' %></p>

    </div>
  </div>
</div>
