<!-- Employer info and favorites and others go here -->
    <div id="linkedin">Employer: <%= link_to "Sign up with LinkedIn", "/auth/linkedin" %></div>

<% if @linkedin %>
  <%= "#{@linkedin.first_name} | #{@linkedin.headline} | #{@linkedin.industry}" %>

  <h2>Positions</h2>
  <table>
    <thead>
      <th>Title</th>
      <th>Summary</th>
      <th>Is Current</th>
      <th>Start Date</th>
      <th>End Date</th>
    </thead>

  <% @linkedin.positions.each do |position| %>
    <tr>
      <td><%= position.title %></td>
      <td><%= position.summary %></td>
      <td><%= position.is_current %></td>
      <td><%= position.start_date %></td>
      <td><%= position.end_date %></td>
    </tr>
  <% end %>
  </table>

  <h2>Education</h2>
  <table>
    <thead>
      <th>Degree</th>
      <th>Field of Study</th>
      <th>School Name</th>
    </thead>

  <% @linkedin.educations.each do |education| %>
    <tr>
      <td><%= education.degree %></td>
      <td><%= education.field_of_study %></td>
      <td><%= education.school_name %></td>
    </tr>
  <% end %>
  </table>
<% end %>

