<!DOCTYPE html>
<html>
<head>
  <title>J0bD</title>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>    

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%#= render partial: 'layouts/nav' %>

<div id="content">
  <%= yield %>
</div>

<div id="menu">
  <%= render partial: 'layouts/menu' %>
</div>

</body>
</html>
